:root {
  --sidebar-color: hsl(200 80% 90%);
  --main-color: hsl(200 80% 80%);
  --basic-text: hsl(200 30% 10%);

  --light-text: hsl(200 30% 90%);

  --modal: hsl(200 30% 10% / 0.95);

  --shadow-min: 2.5px 5px 5px hsl(200 30% 10% / 0.25);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Size font (1rem = 10px) */

html {
  font-size: 62.5%;
}

/* Custom font styling */

body {
  height: 100vh;
  width: 100vw;
  color: var(--basic-text);
  font-size: 1.9rem;
  font-family: 'Reddit Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

/* Reset list margins */

ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

.todo-list {
  display: flex;
  width: 100vw;
  min-height: 100%;
}

.sidebar {
  flex: 2;
  padding: 6rem;
  padding-right: 0;
  padding-left: 6rem;
  /* width: fit-content; */
  /* flex: 1 0 auto; */

  background-color: var(--sidebar-color);
  box-shadow: var(--shadow-min);
}

.user-avatar-box {
  border: 8px solid var(--main-color);
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.user-avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-size: 2.5rem;
  font-weight: 600;
}

.main {
  flex: 5;
  padding: 6rem;
  background-color: var(--main-color);
}

.add-task {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  background-color: var(--main-color);
  color: var(--basic-text);
  padding: 1.3rem 3rem;
  border: none;
}

.date {
  font-size: 5rem;
  font-weight: 800;
}

.projects {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-weight: 400;
  font-size: 2.2rem;
}

.modal {
  display: flex;

  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal);
}

.form-row {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.form-row > label {
  font-size: 2.5rem;
  color: var(--light-text);
}

.form-row > * {
  flex: 1;
}

.submit {
  background-color: var(--main-color);
  color: var(--basic-text);
  padding: 1.5rem 0;
  border: none;
}

.modal.hidden {
  visibility: hidden;
}
